


.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #eee;


  }
  .top-bar nav {
    width: 80%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-bar nav ul li {
    display: inline-block;
    margin-right: 1rem;
  }
  .top-bar nav ul li a {
    display: inline-block;
    color: #111;
    padding: 0.2rem 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
  }
  .top-bar nav ul li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255);
    transition: 0.3s ease;
  }