:root {
  
  --oc-white: #fff;
  --oc-black: #000;

  --oc-gray-0: #f8f9fa;
  --oc-gray-1: #f1f3f5;
  --oc-gray-2: #e9ecef;
  --oc-gray-3: #dee2e6;
  --oc-gray-4: #ced4da;
  --oc-gray-5: #adb5bd;
  --oc-gray-6: #868e96;
  --oc-gray-7: #495057;
  --oc-gray-8: #343a40;
  --oc-gray-9: #212529;

  --oc-red-0: #fff5f5;
  --oc-red-1: #ffe3e3;
  --oc-red-2: #ffc9c9;
  --oc-red-3: #ffa8a8;
  --oc-red-4: #ff8787;
  --oc-red-5: #ff6b6b;
  --oc-red-6: #fa5252;
  --oc-red-7: #f03e3e;
  --oc-red-8: #e03131;
  --oc-red-9: #c92a2a;


  --oc-pink-0: #fff0f6;
  --oc-pink-1: #ffdeeb;
  --oc-pink-2: #fcc2d7;
  --oc-pink-3: #faa2c1;
  --oc-pink-4: #f783ac;
  --oc-pink-5: #f06595;
  --oc-pink-6: #e64980;
  --oc-pink-7: #d6336c;
  --oc-pink-8: #c2255c;
  --oc-pink-9: #a61e4d;


  --oc-grape-0: #f8f0fc;
  --oc-grape-1: #f3d9fa;
  --oc-grape-2: #eebefa;
  --oc-grape-3: #e599f7;
  --oc-grape-4: #da77f2;
  --oc-grape-5: #cc5de8;
  --oc-grape-6: #be4bdb;
  --oc-grape-7: #ae3ec9;
  --oc-grape-8: #9c36b5;
  --oc-grape-9: #862e9c;


  --oc-violet-0: #f3f0ff;
  --oc-violet-1: #e5dbff;
  --oc-violet-2: #d0bfff;
  --oc-violet-3: #b197fc;
  --oc-violet-4: #9775fa;
  --oc-violet-5: #845ef7;
  --oc-violet-6: #7950f2;
  --oc-violet-7: #7048e8;
  --oc-violet-8: #6741d9;
  --oc-violet-9: #5f3dc4;


  --oc-indigo-0: #edf2ff;
  --oc-indigo-1: #dbe4ff;
  --oc-indigo-2: #bac8ff;
  --oc-indigo-3: #91a7ff;
  --oc-indigo-4: #748ffc;
  --oc-indigo-5: #5c7cfa;
  --oc-indigo-6: #4c6ef5;
  --oc-indigo-7: #4263eb;
  --oc-indigo-8: #3b5bdb;
  --oc-indigo-9: #364fc7;


  --oc-blue-0: #e7f5ff;
  --oc-blue-1: #d0ebff;
  --oc-blue-2: #a5d8ff;
  --oc-blue-3: #74c0fc;
  --oc-blue-4: #4dabf7;
  --oc-blue-5: #339af0;
  --oc-blue-6: #228be6;
  --oc-blue-7: #1c7ed6;
  --oc-blue-8: #1971c2;
  --oc-blue-9: #1864ab;


  --oc-cyan-0: #e3fafc;
  --oc-cyan-1: #c5f6fa;
  --oc-cyan-2: #99e9f2;
  --oc-cyan-3: #66d9e8;
  --oc-cyan-4: #3bc9db;
  --oc-cyan-5: #22b8cf;
  --oc-cyan-6: #15aabf;
  --oc-cyan-7: #1098ad;
  --oc-cyan-8: #0c8599;
  --oc-cyan-9: #0b7285;


  --oc-teal-0: #e6fcf5;
  --oc-teal-1: #c3fae8;
  --oc-teal-2: #96f2d7;
  --oc-teal-3: #63e6be;
  --oc-teal-4: #38d9a9;
  --oc-teal-5: #20c997;
  --oc-teal-6: #12b886;
  --oc-teal-7: #0ca678;
  --oc-teal-8: #099268;
  --oc-teal-9: #087f5b;


  --oc-green-0: #ebfbee;
  --oc-green-1: #d3f9d8;
  --oc-green-2: #b2f2bb;
  --oc-green-3: #8ce99a;
  --oc-green-4: #69db7c;
  --oc-green-5: #51cf66;
  --oc-green-6: #40c057;
  --oc-green-7: #37b24d;
  --oc-green-8: #2f9e44;
  --oc-green-9: #2b8a3e;


  --oc-lime-0: #f4fce3;
  --oc-lime-1: #e9fac8;
  --oc-lime-2: #d8f5a2;
  --oc-lime-3: #c0eb75;
  --oc-lime-4: #a9e34b;
  --oc-lime-5: #94d82d;
  --oc-lime-6: #82c91e;
  --oc-lime-7: #74b816;
  --oc-lime-8: #66a80f;
  --oc-lime-9: #5c940d;


  --oc-yellow-0: #fff9db;
  --oc-yellow-1: #fff3bf;
  --oc-yellow-2: #ffec99;
  --oc-yellow-3: #ffe066;
  --oc-yellow-4: #ffd43b;
  --oc-yellow-5: #fcc419;
  --oc-yellow-6: #fab005;
  --oc-yellow-7: #f59f00;
  --oc-yellow-8: #f08c00;
  --oc-yellow-9: #e67700;


  --oc-orange-0: #fff4e6;
  --oc-orange-1: #ffe8cc;
  --oc-orange-2: #ffd8a8;
  --oc-orange-3: #ffc078;
  --oc-orange-4: #ffa94d;
  --oc-orange-5: #ff922b;
  --oc-orange-6: #fd7e14;
  --oc-orange-7: #f76707;
  --oc-orange-8: #e8590c;
  --oc-orange-9: #d9480f;
}

*, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Be vietnam', 'jost', helvetica, sans-serif;
  /* font-family: 'jost', helvetica, sans-serif; */
  transition: all .3s ease;
}



html, body {
  position: relative;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(17, 17, 17, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: .5s ease;
}


.scroll_btn {
  position: fixed;
  bottom: 4.5rem;
  right: 80px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #37a0ef;
  cursor: pointer;
  background: rgba(255, 255, 255, .5);
  border: 3px solid rgba(25, 25, 25, .4)
}
.scroll_btn.flash {
  opacity: 0;
}
.scroll_btn i {
  font-size: 20px;
  color: rgba(0, 0, 0, .7);
}



/* NAV STYLES  */
nav {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  box-shadow: 0 1px 10px 1px rgba(2, 2, 2, .2);
  z-index: 999;
}
nav .nav-content {
  width: 65%;
  height: auto;
  margin: auto;
}

/* STICKY NAV STYLES */
 nav.sticky {
  padding: 10px 0;
  transition: .3s ease;
}

/* LOGO-BOX */
.logo-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* border: 2px solid #1864ab; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
 .logo-box img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

nav.sticky .logo-box {
  width: 70px;
  height: 70px;
}


/* NAV-CONTENT-TOP STYLES */

nav .nav-content-top {
  width: 100%;
  height: auto;
  text-align: right;
  transition: .2s ease;
}
nav .nav-content-top a, p {
  color: #000;
  font-size: 12px;
}

nav .nav-content-top.close {
  visibility: hidden;
  opacity: 0;
  height: 0;
}


/* NAV-CONTENT-BOTTOM STYLES */

.nav-content-bottom .nav-links {
  position: relative;
}
nav .nav-content-bottom {
  text-align: right;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .nav-content-bottom .nav-links li {
  display: inline-block;
  margin-left: 2rem;
}
nav .nav-content-bottom .nav-links li a:is(:link, :active, :visited) {
  display: inline-block;
  color: #000;
  font-size: 14px;
  border-bottom: 2px solid transparent;
}
nav .nav-content-bottom .nav-links li a i {
  margin-left: .5rem;
}


/* MENU-BTN /  */

.menu-btn {
  /* display: none; */
}

/* CLOSE BTN */

.close-btn {
  /* display: none; */
}


/* NAV HOVER STYLES */

nav .nav-links li:hover a i {
  transform: rotateX(190deg);
  transition: .2s ease;
}



/* HERO SECTION */

.hero {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-image:linear-gradient(to bottom, rgba(9, 0, 79, 0.5), rgba(150, 202, 255, 0.3)), url(/assets/images/image-4.jpg); */
  /* background-image:linear-gradient(to bottom, rgba(7, 0, 60, 0.801), transparent), url(/assets/images/image-4.jpg); */
  background: linear-gradient(to bottom, rgba(9, 0, 60, 0.772), transparent);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero.open {
  /* background-image:linear-gradient(to top, rgba(102, 247, 249, 0.544), transparent), url(/assets/images/image-4.jpg);
  background-image:linear-gradient(to top, transparent, transparent), url(/assets/images/image-4.jpg); */
  transition: .2s ease;
}



/* MEGA-DROP MENU STYLES */

 .nav-links .mega-drop-menu {
  background: #fff;
  border: 1px solid #aaa;
  position: absolute; 
  top: 300%;
  left: 15%;
  transform: translateX(-50%);
  width: 160%;
  height: 310px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;
  opacity: 0;
  transition: .2s ease;
} 


/* MEGA-DROP MENU HOVER STYLES */
.nav-links li:hover .mega-drop-menu {
  top: 280%;
  visibility: visible;
  opacity: .99;
}
nav.sticky .nav-links .mega-drop-menu {
  top: 350%;
}
.mega-drop-menu .menu-content {
  width: 100%;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mega-drop-menu .menu-content .col {
  width: calc(25%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1.5rem;

}
.mega-drop-menu .menu-content .col:not(:first-child) {
  border-left: 1px solid #eee;
}
/* .mega-drop-menu .menu-content .col:first-child {
  height: 350px;
  width: 250px;
  color: #222;
  background: var(--oc-blue-9);
  border: 1px solid var(--oc-blue-9);
  background-size: cover;
  border-radius: 8px 0px 0px 8px;
  background-position: center;
} */
.mega-drop-menu .menu-content .col:first-child .col-btn:hover {
  border-color: #fff !important;
  color: #fff !important;
  transform: scale(1.08);
}
.mega-drop-menu .menu-content .col:first-child h1 {
  font-size: 35px;
  text-align: center;
  color: #fff;
  display: flex;
  margin: 1rem auto 0 auto;
}
.mega-drop-menu .menu-content .col:first-child p {
  font-size: 14px;
  text-align: left;
}
.mega-drop-menu .menu-content .col:first-child a {
  width: 140px;
  font-size: 15px;
  display: inline-block;
  margin: 0 0 2rem 1rem;
}
.mega-drop-menu .menu-content .col .header {
  font-size: 17px;
}
.mega-drop-menu .menu-content .col ul {
  padding: none !important;
  width: 100%;
}
.menu-content .col .col-btn {
  display: inline-block;
  width: 120px;
  height: 32px;
  line-height: 32px;
  padding: 5px 10px;
  border-radius: 25px;
  background: #10053b;
  border: 2px solid transparent;
  color: #fff !important;
  font-weight: 500;
  text-align: center;
  transition: .3s ease;
}
.menu-content .col .col-btn:hover {
  border-color: #10053b;
  background: transparent;
  color: #10053b !important;
}
.mega-drop-menu .menu-content .col ul li {
  margin-left: 0;
  text-align: left;
  line-height: 2.2;
  display: block;
}

.mega-drop-menu .menu-content .col ul li {
  display: inline-block;
  font-size: 13px;
}
.mega-drop-menu .menu-content .col ul li:hover {
  color: #f00;
}

.mega-drop-menu .menu-content .col ul li {
  margin-right: 1rem;
}

nav .menu-content .col .col-btn {
  width: 130px;
  height: 42px;
}
nav.sticky .nav-links li .mega-drop-menu {
  top: 400%;
}
nav.sticky .nav-links li:hover .mega-drop-menu {
  top: 320%;
  visibility: visible;
  opacity: 1;
}
.menu-content .col .header { 
  font-weight: 800;
  font-size: 18px;
}


/* DROP-MENU STYLES */

.nav-links li .drop-menu { 
  position: absolute;
  top: 300%;
  left: 70%;
  width: 30%;
  height: auto;
  padding: .25rem;
  background: #fff;

  border: 1px solid var(--oc-gray-2);
  visibility: hidden;
  opacity: 0;
  transition: .2s ease;
}

.nav-links li .drop-menu li {
  display: block;
  text-align: left;
  margin-left: 0 !important;
  line-height: 2.5;
}
.nav-links li .drop-menu li a {
  font-size: 15px !important;
  display: inline-block;
  width: 100%;
  padding: 0 .5rem;
}
.nav-links li:hover .drop-menu {
  top: 150%;
  visibility: visible;
  opacity: 1;
}
nav.sticky .nav-links li .drop-menu {
  top: 340%;
}
nav.sticky .nav-links li:hover .drop-menu {
  top: 150%;
}
.nav-links li .drop-menu li a:hover {
  background: var(--oc-red-1);
}
.nav-links li .drop-menu li a:hover i {
  transform: rotateX(360deg);
}



/* GENERAL SECTION STYLES */

section {
  margin: auto;
  border: 1px solid transparent;
  /* border: 1px solid red; */
}


/* BG VIDEO STYLES  */

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -999;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}



/* HERO TEXT BOX STYLES  */
.text-box {
  margin: auto;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  transition: .5s ease;
}
.text-box.slide {
  transform: translateX(-10%) scale(0.8);
}
.text-box .text-1 {
  font-size: 25px;
  color: #222;
  color: #37a0ef;
  color: #fff;
}
.text-1.open {
  color: #222;
}
.text-box .text-2 {
  font-size: 50px;
  color: #222;
  color: #fff;
}
.text-2 span {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.quote-text p {
  font-size: 23px !important;
  font-weight: 500;
  text-align: left;
  color: #222;
  color: #fff;
}
.quote-text strong {
  color: #37a0ef;
}
.quote-text h3 {
  display: inline;
}

/* LIBEREX SECTION STYLES */
#liberex {
  background: #f2f2f2 !important;
  /* margin-bottom: 2rem; */
}


/* GJR SECTION STYLES */
#gjr,
#skywalker {
  background: var(--oc-gray-0);
}



/* SECTION CONTENT STYLES */

 .section-content {
  width: 65%;
  margin: 65px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-text-container {
 width: calc(50% - 30px);
}
.section-text-container .text {
  font-size: 2.5rem;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 16px;
}
.section-text-container p {
  font-size: 21px;
  margin-bottom: 1rem;
}
.section-text-container .read_more {
  width: 140px;
  font-size: 15px;
  padding: 8px 10px;
  font-weight: 500;
  display: inline-block;
  border-radius: 25px;
  background: #102851;
  background: #233e59;
  border: 3px solid transparent;
  color: #fff;
  text-align: center;
  transition: .2s ease;
}
.read_more:hover {
  background: transparent;
  border: 3px solid #10053b;
  color: #10053b;
}
.section-image-container {
  background: rgba(255, 255, 255, .5);
  width: calc(50% - 30px);
 
}
.section-image-container .image-box  {
  border-radius: 6px;
  display: flex;
}
.section-image-container .image-box img {
  width: 100%;
  border-radius: 4px;
}


/* FOOTER */
footer {
  width: 100%;
  background: #f2f2f2;
}
.footer-content {
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;

}
.footer-logo-box {
  width: 50%;
  height: 50%;
  display: flex;
  border-radius: 8px;
}
.footer-logo-box img {
  width: 95%;
  border: 1px solid #37a0ef;
  border-radius: 8px;
  display: flex;
}
.partners-logo-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners-logo-box img {
  width: 100%;
  height: 100%;
}
.footer-info-section {
  width: 100%;
  height: 100%;
  margin: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-info-section div {
  width: calc(50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-info-section ul {
  margin-bottom: 1rem;
}
.footer-info-section h4 {
  margin-bottom: 1rem;
  color: #222;
  font-size: 18px;
  text-align: left;
}
.footer-info-section a {
  font-size: 15px;
  line-height: 2;
  display: inline-block;
  color: #222;

}
.footer-info-section a:hover {
  font-weight: 500;
}
.footer-right-reserved {
  width: 90%;
  background: #f2f2f2;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.footer-right-reserved .search {
  display: flex;
  font-size: 13px;
}
.footer-right-reserved .search a,
.footer-right-reserved .contact-nums {
  /* font-size: 19px; */
  color: #444;
  margin-right: 1rem;
  padding: 2rem 0
}
footer .param p {
  font-size: 13px;
  color: #222;
}
footer .param p i {
  margin: 0 .5rem;
}



.content-page {
  width: 100%;
  margin: 112px auto 0rem auto;
}
.max-width {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.max-width_too {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4rem;
}
.md {
  padding: 0 4rem 2rem 4rem;
}
.item-one {
  background: var(--oc-gray-0);
  background: var(--oc-blue-0);
  padding: 4rem;
}
.item-two {
  background: var(--oc-gray-1);
  background: var(--oc-blue-1);
  padding: 4rem;
  background: url(/assets/images/img-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.item-thre {
  background: var(--oc-gray-1);
  background: var(--oc-blue-1);
  padding: 4rem;
}
.item-fou {
  background: var(--oc-gray-0);
  background: var(--oc-blue-0);
  padding: 4rem;
}
.item-fiv {
  background: var(--oc-gray-0);
  background: var(--oc-blue-0);
  padding: 4rem;
}
.item-six {
  background: var(--oc-gray-1);
  background: var(--oc-blue-1);
  padding: 4rem;
}

.half_size {
  width: 50%;
  height: 350px;
}
.half_size_too {
  width: 50%;
}

.half_size_too h3 {
  margin-right: 1rem;
}

.half_size_too i {
  display: inline-block;
  margin-right: 1rem;
  font-size: 45px;
  color: var(--oc-gray-6);
}
.half_size_too .mdname {
  font-size: 35px;
}

.half_size p {
  font-size: 20px;
  text-align: left;
}
.half_size_too p {
  font-size: 17px !important;
  text-align: left;

}
.half_size_too p {
  font-size:20px;
}
.half_size .header {
  font-size: 45px;
}
.half_size_too .header {
  font-size: 45px;
}
.half_size_too .read-more:is(:link, :active, :visited){
  font-size: 14px;
  display: inline-block;
  padding: .25rem 0;
  color:rgb(39, 34, 151);
}
.half_size_too .read-more:is(:link, :active, :visited):hover {
  text-decoration: underline;
}
.half_size h3 {
  margin: 0rem 1rem 0 0;
  color: var(--oc-gray-6)
}
.half_size_too p i {
  display: inline-block;
  font-size: 16px;
  margin-left: .5rem;
}

.half_size span {
  display: inline-block;
  width: 50px;
  height: 5px;
  background: #555;
}

.about_us_container {
  /* background: var(--oc-red-0) */
}
.our_vission_container {
  /* background: var(--oc-red-1); */
}
.our_statement_container {
  /* background: var(--oc-red-0); */
}
.expertise,
.production {
  display: flex;
  align-items: center;
  margin: 2rem 0rem;
}
.bg h2{
  margin-bottom: 1rem;

}


/* MANAGEMENT  */
.half_size_too img {
  width: 100%;
  height: 100%;;
}

/* OUR VALUES */
.half_size .item {
  padding: 10px 0 10px 16px;
  /* height: 200px; */
  background: #f9f9f9;
  background: var(--oc-yellow-3);
  border-radius: 8px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}


/* READY TO WORK */
.ready_to_work {

  height: 450px;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home {
   background-image:linear-gradient(to bottom, rgba(138, 128, 249, 0.801), transparent), url(/assets/images/img-3.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.aboutt {
  background-image:linear-gradient(to bottom, rgba(138, 128, 249, 0.801), transparent), url(/assets/images/img-6.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.ready_to_work h1 {
  font-size: 75px;
  color: #233e59;
  color: rgba(255, 255, 255, .8);
}
.ready_to_work p {
  font-size: 25px;
  text-align: center;
}
.ready_to_work .contact_us {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.4em;

  display: inline-block;
  margin: 25px 0;
  padding: 15px 60px;
  background: #102851;
  border: 3px solid transparent;
  text-align: center;
  color: #fff ;

  border-radius: 50px;
  transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.ready_to_work .contact_us:hover {
  transform: scaleX(1.05);
  border-color: white;
  background: transparent;


}





















































/* MEDIA QUERIES RESPONSIVE */

@media (max-width: 992px) {
  /* .section-content{
    width: 80%;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-image-container,
  .section-text-container {
    width: 100%;

  } */
  .section-text-container  .text {
    /* width: 35%; */
    border: 1px solid red;
    font-size: 35px;
  }
.section-content {
  align-items: flex-start;
}
.section-content p {
  width: 100%;
  font-size: 17px;
}
  .nav-content .nav-content-top {
    /* transform: translate(300px, 15px);
    display: inline-block;
    width: 50%; */
  }
  nav.sticky .nav-content .nav-content-top {
    /* transform: translate(300px, 12px);
    display: inline-block;
    width: 50%; */
    /* text-align: right; */
  }
  .nav-content .nav-content-bottom .logo-box {
    /* transform: translate(-0px, -20px); */
  }
  .nav-content .nav-content-bottom .logo-box img {
    /* height: 100%; */
  }

  .nav-content .nav-content-bottom  {
   /* border: 1px solid red; */
    /* height: 20px; */
  }
  .nav-content-bottom .menu-btn {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 25px;
    right: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-content-bottom .menu-btn span {
    position: absolute;
    width: 25px;
    height: 5px;
    background: #000; 
    display: inline-block;
    border-radius: 6px;
    transition: .3s ease;
  }
  .nav-content-bottom .menu-btn span:nth-child(1) { 
      top: 11px;
  }
  .nav-content-bottom .menu-btn span:nth-child(2) { 
  
  }
  .nav-content-bottom .menu-btn span:nth-child(3) { 
    top: 28px;
  }

  .nav-content-bottom .menu-btn:hover span:nth-child(1) {
    transform: translateX(-3px);
    width: 15px;
  }
  .nav-content-bottom .menu-btn:hover span:nth-child(2) {

  }
  .nav-content-bottom .menu-btn:hover span:nth-child(3) {
    width: 15px;
    transform: translateX(3px);
  }
  .nav-content-bottom .menu-btn.active {
    /* opacity: 0;
    visibility: hidden; */
  }

  .nav-content-bottom .nav-links {
    position: fixed;
    top: 24%;
    right: -100%;
    width: 300px;
    height: 380px;
    background: linear-gradient(to bottom, rgb(1, 1, 37), rgb(39, 34, 151));
    background: #f7f7f7 !important;
    padding: 5rem 2rem 0 0;
    border-radius: 8px;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, .3);
    transition: .5s ease;
    z-index: 3;
  }
  .overlay.dark {
    opacity: 1;
    visibility: visible;
    transition: .5s ease;
  }
  .nav-content-bottom .nav-links .close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #102851;
    background: #233e59;
    border-radius: 5px;
  }
  .nav-content-bottom .close-btn span {
    position: absolute;
    width: 15px;
    height: 4px;
    background: #fff;
    display: inline-block;
    transition: .5s ease;
  }
  .nav-content-bottom .close-btn span:nth-child(1) {
    transform: rotate(-135deg);
  }
  .nav-content-bottom .close-btn span:nth-child(2) {
      transform: rotate(135deg);
  }
  .nav-content-bottom .nav-links .close-btn:hover span {
    transform: rotate(0)
  }
  .nav-content-bottom .nav-links li {
    margin-left: 15px;
    margin-bottom: 1rem;
    display: block !important;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  .nav-content-bottom .nav-links li a {
    display: block !important;
    color: #444 !important;
    font-weight: 600;
    line-height: 2;
    font-size: 15px !important;
  }
  .nav-content-bottom .nav-links li a:hover {
    color: navy !important;
    font-weight: 500;
    transition: .2s ease;
  }

  /*  HERO */

  .hero {
    /* width: 100%;
    height: 100vh; */
  }
 .nav-links li .mega-drop-menu,
 .nav-links .drop-menu {
    /* display: none; */
  }
  .nav-content-bottom .nav-links .close-btn i {
    /* font-size: 19px;
    font-weight: 600; */
  }
  .nav-content .nav-content-top .search .fa-brands {
    /* display: none;
    transition: .3s .2s ease-in; */
  }
  .nav-content .nav-content-top  {
    /* margin-right: 2rem;
    transition: .3s ease-in; */
  }
  .nav-content-bottom .nav-links.open {
    right: 2%;
    transition: .5s ease;
    z-index: 1
  }
  
  .nav-content-top.active {
  /* transform: translateX(10%); */
  }
  nav.sticky .nav-content-top.active {
    /* transform: translateX(35%); */
    }
    nav.sticky .nav-content-top.active  {
      /* transform: translateX(35%); */
      /* opacity: 0; */
    }



  nav.sticky .nav-content .nav-content-top .search a {
    color: #000;
}
nav.sticky .nav-content .nav-content-top .contact-nums {
  color: #000;
}
  .nav-content-bottom .nav-links li:first-child {
    /* margin-top: 4rem; */
  }

  nav.sticky .nav-content-bottom .nav-links li a {
    color: #fff;
  }
  .nav-content-bottom .nav-links li a i {
    display: none;
  }
}

@media (max-width: 871px) {
  .nav-content .nav-content-top {
    /* transform: translate(250px, 10px) !important; */
    /* width: 50%; */
    /* border: 1px solid red; */

    /* display: none; */
  }
  .section-image-container  {
    width: calc(57% - 10px);
  }

  .section-image-container .image-box {
    width: 100%;
    height: 350px;
  }
  .section-text-container {
    width: 35%;
  }
  .section-text-container .text {
    font-size: 35px;
  }
} 

/* RESPONSE 768px */
@media (max-width: 768px) {
  .content-page {
    margin: 130px auto 0rem auto;
  }
  .management_team div h1 {
    font-size: 35px !important;
    width: 100% !important;
    color: red;
  }
  .about_us_tiles {

  }
.max-width{
    /* height: 450px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  
  }
  .max-width_too {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.half_size {
    width: 100%;
    padding: 3rem 4rem
  }
.half_size_too {
  width: 100%;
  padding: 0rem;
  border: 1px solid red;
}


  .footer-info-section a {
    font-size: 18px;
    line-height: 3;
  
    display: inline-block;
    color: #222;
  
  }
  .footer-info-section {
    flex-direction: column;
  }
  .partners-logo-box {
    display: none !important;
  
    border: 1px solid red;
  }
  .nav-content .nav-content-bottom .logo-box {
    /* transform: translate(-17px, 30px) !important; */
  }
  nav.sticky .nav-content .nav-content-bottom .logo-box {
    /* transform: translate(-17px,-20px) !important; */
    
  }
  .section-text-container .text {
    /* font-size: 35px; */
  }
  .section-image-container .image-box {
    /* width: 100%;
    height: 100%; */
  }
 .section-content{
    width: 80%;
    padding: 4rem 0;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-image-container,
  .section-text-container {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .nav-content .nav-content-top {
    opacity: 0;
    visibility: hidden;
    /* transform: scale(1.1); */
    transition: .3s ease;
  }
  nav.sticky .nav-content .nav-content-top {
    opacity: 0;
    visibility: hidden;
    /* transform: scale(1.1); */
    transition: .3s ease;
  }

  .nav-content-bottom .menu-btn {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 25px;
    right: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-content .nav-content-bottom .logo-box {
    transform: translate(-18px, 30px);
  }
  nav.sticy .nav-content .nav-content-bottom .logo-box {
    transform: translate(0px, 30px);
  }


}

@media (max-width: 600px) {
  .nav-content .nav-content-bottom  {
     height: 100px;
   }
   .nav-content .nav-content-bottom .logo-box {
    transform: translate(0px, -40px);
  }
  nav.sticky .nav-content .nav-content-bottom .logo-box {
    transform: translate(0px, -5px);
  }
  nav.sticky .nav-content .nav-content-top {
    display: none;
  }
.footer-info-section {
  flex-direction: column;
}
.partners-logo-box {
  display: none !important;

  border: 1px solid red;
}
.nav-content-bottom .menu-btn {
  width: 45px;
  height: 45px;
  position: fixed;
  top: 25px;
  right: 55px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

}