.sky-content {
  margin-top: 60px;
  /* padding: 3rem 0 1rem 0; */
  background-color: #f9f9f9;
  width: 100%;
  font-family: "Jost";
  position: relative;
}
.sky-image-slider {
  width: 100%;
  height: 100vh;
}
.sky-image-slider-content {
  width: 80%;
  margin: 0 auto;
}

/* BANNER-1 */
.banner-1 {
  width: 100%;
  height: 50px;
  background: rgba(30, 115, 190);
}
.banner-1-wrap {
  width: 80%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-1-wrap h2 {
  color: white;
}
.banner-1-wrap .social {
  display: flex;
  column-gap: 20px;
}
.banner-1-wrap .social span {
  color: #fff;
  font-size: 20px;
}

/* MIDBANNER */
.MidBanner {
  width: 100%;
  background: white;
}
.MidBanner .MidBanner-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.MidBanner-wrap .logo-box {
  height: inherit;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.MidBanner-wrap .logo-box span {
  font-size: 35px;
  color: red;
}
.MidBanner-wrap .logo-box {
  position: relative;
}
.MidBanner-wrap .logo-box p {
  position: absolute;
  top: 55px;
  left: 150px;
  width: 200px;
  font-size: 14px;
  color: deepskyblue;
}
.MidBanner-wrap .logo-box .logo-text-box h1 {
  font-size: 3rem;
}
.MidBanner-wrap .info-section {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.MidBanner-wrap .info-section span {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.MidBanner-wrap .info-section span p,
.MidBanner-wrap .info-section span a {
  font-size: 13px;
  font-weight: 700;
  color: #111;
}

/* THIRDBANNER */

.ThirdBanner {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(
    to right,
    rgba(30, 115, 190),
    transparent,
    #299fe7
  );
  box-shadow: 0 1px 2px 0 rgba(9, 47, 143, 0.2);
}
.sky-body-content {
  width: 100%;
  min-height: 100vh;
  /* margin-bottom: 1rem; */
}
.sky-body-content-wrap {
  width: 80%;
  margin: 0 auto;
}
.sky-body-content-wrap header {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}
.main {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
}
.main nav {
  /* padding-right: 1rem; */
  /* border: 1px solid red; */
}
.main nav li {
  position: relative;
  padding-left: 1rem;
  font-size: 15px;
  transition: 0.3s ease;
}

.main nav li::before {
  content: ">";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main nav li:hover {
  text-decoration: underline;
  cursor: pointer;
}

article {
  grid-column: span 4;

}

article h2 {
  padding: 0;
  margin-bottom: 0.5rem;
}
article img {
  width: 100%;
  height: inherit;
}
aside {
  padding-left: 1rem;
  border-left: 1px solid #ddd;
}
aside p {
  font-size: 14px;
}
.expand-aside {
  border-right: 1px solid #ddd;
}
.expand-aside p {
  background: rgb(14, 62, 155);
  background: rgba(30, 115, 190);
  background: #bdd4e0;
  color: #111;
  padding: 0.25rem 0 0.25rem 0.2rem;
  margin-right: 1rem;
}


.active {
  display: block;
}
.gone {
  display: none;
}

@media screen and (max-width: 768px) {
  .sky-content {
    margin-top: 6px;
  }
  .banner-1,
  .ThirdBanner {
    display: none;
  }
  .sky-body-content-wrap header {
    padding: 0.5rem 0;
  }
  .sky-body-content-wrap header h1 {
    font-size: 2rem;
  }
  .MidBanner {
    padding: 0.5rem 0;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3); */
    /* border-bottom: 1px solid #ddd; */
  }
  .MidBanner .MidBanner-wrap {
    width: 100%;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    background: rgb(14, 62, 155);

    color: #fff;
  }

  .sky-content {
    margin-top: 70px;
  }
  .MidBanner-wrap .logo-box {
    margin-bottom: 1rem;
  }
  .MidBanner-wrap .logo-box span {
    font-size: 25px;
    color: red;
  }
  .MidBanner-wrap .info-section span p,
  .MidBanner-wrap .info-section span a {
    font-size: 11px;
    font-weight: 700;
    color: #fff;
  }
  .MidBanner-wrap .info-section span {
    color: #fff;
  }
  .MidBanner-wrap .info-section span a {
    margin-top: 5px;
  }
  .MidBanner-wrap .info-section span:nth-child(2) {
    display: none;
  }
  .main {
    margin-top: 1rem;
  }

  .main p {
    margin: 0.25rem 0;
  }
  .main nav {
    grid-column: span 5;
    border-right: none;
    height: inherit;
    display: flex;
    align-items: center;
  }
  .main nav li {
    display: inline-block;
    text-decoration: underline;
  }



  
  .expand-aside {
    height: inherit;
    grid-column: span 6;
    border-right: none;


  }

  .main nav li::before {
    display: none;
  }
  .main article {
    grid-column: span 6;
    margin-bottom: 0.5rem;
    padding: 0 0 1rem 0;
  }

  .main article h2 {
    padding: 0;
  }

  header h1 {
    font-size: 2.5rem;
  }
  .sky-body-content-wrap aside {
    padding-left: 0rem;
    border-left: none;
  }
  aside ul li p {
    font-size: 16px;
  }
  aside {
    grid-column: span 6;
    padding-left: 0rem;
    border-left: none;

  }
}
