

.heroContainer {
  width: 100%;
  height: 100vh;
  font-family: "Jost";
  position: relative;
}
.heroContainer::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    transparent,
    transparent,
    transparent,
    transparent,
    rgba(0, 0, 0, 0.5)
  );
  z-index: 10;
}
.heroBg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.heroContent {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Public sans";
  display: flex;
  align-items: center;
}
.heroContentWrap {
  margin: auto auto;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 999;

 
}
.heroText {
  margin-top: 3rem;
  width: 80%;
}
.heroContent h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  text-shadow: 1px 2px 2px rgb(55, 55, 50);

  margin: 1rem 0;
  font-family: 'Montserrat';
  line-height: 1;
}
.heroContent p {
  font-size: 1.5rem;
  color: whitesmoke;
  font-family: "Jost";
}
.heroContent .heroBtn {
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  font-size: 18px;
  background: red;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  font-family: "Jost";
}
.heroBtn a {
  position: relative;
  z-index: 9999;
  color: #fff;
  transition: 0.3s ease;
}
.heroBtn:hover a {
  color: #111 !important;
}
.heroBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  background: white;
  z-index: 1;
  transition: 0.3s ease;
}
.heroBtn:hover::before {
  width: 101%;
  height: 101%;
}

.explore {
  position: absolute;
  top: 50%;
  right: -45px;
  transform: translateY(-50%) rotate(-90deg);
  width: 150px;
  height: 70px;
  /* border: 1px solid red; */
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
  z-index: 9999;
  /* background: rgba(0, 0, 0, 0.2); */
  background: transparent;
}

.explore button {
  width: 60%;
  height: 50%;
  margin: 0px auto;
  transform: translateY(60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  opacity: 0.9;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ddd;
  position: relative;
  transition: 0.3s ease-in;
}
.explore .ex-btn a {
  position: relative;
  z-index: 9999;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Jost";
  transition: 0.3s ease;
}
.ex-btn:hover a {
  color: #111 !important;
}
.ex-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: white;
  z-index: 1;
  border-bottom: 1px solid #ddd;

  transition: 0.3s ease;
}
.ex-btn:hover::before {
  width: 101%;
  height: 100%;
}

.explore:hover .ex-btn {
  transform: translateY(30px);
}

.explore .ex-btn:hover::before {
  background: #fff;
  width: 101%;
}

@media screen and (max-width: 768px) {
  .heroContent h1 {
    font-size: 3rem;
    color: whitesmoke;
    color: #fff;
  }
  .heroContent p {
    font-size: 1.2rem;
    color: whitesmoke;
    color: #fff;
  }
  .heroContentWrap {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    z-index: 999;

    display: flex;
    align-items: center;
  }
}
