

.footer-container {
    width: 100%;
    min-height: 500px;
    background: #fff;
    background: #231f20;
    /* background-image: linear-gradient(
        to right,
        rgb(4, 40, 72),
        transparent,
        #015386
      ); */
    padding: 2rem 0;
    /* border-top: 1px solid #ddd; */
    font-family: 'Poppins';

    color: whitesmoke;
    color: aliceblue;
}
.footerWrap {
    width: 80%;
    height: 100%;
    padding: 1rem 0;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    column-gap: 60px;
}

.footerWrap nav p 
 {
    font-size: 13px;
}
.footerWrap nav li 
 {
    cursor: pointer;
    font-size: 13px;
}
.footerWrap nav li a:hover
 {
    text-decoration: underline;
}
.footerWrap .footer-logo {
    margin-bottom: 1rem;
}
.footerWrap ul li span {
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.footerWrap ul li span a {
    color: whitesmoke;
}
.footerWrap h3 {
    margin-bottom: 1rem;
}
.footerWrap .foot-section-four nav li a {
    color: deepskyblue;
}
.footerWrap .media {
    display: flex;
    column-gap: 10px;
    margin-top: 1rem;
}
.bottom-footer {
    text-align: center;
    font-size: 14px;
    padding-top: .25rem;
    font-weight: 600;
    border-top: 4px solid #fff;
}

@media screen and (max-width: 768px) {
    .footerWrap {
        grid-template-columns: repeat(2, 1fr);
    }
    .footerWrap {
        grid-template-rows:  repeat(2, 1fr);    
    }
    .footerWrap .foot-section-one ul li span,
    .footerWrap .foot-section-one ul li p
      {
        color: #fff !important;
    }
    .foot-section-one, 
    .foot-section-two {
        margin-bottom: 3rem;
    }

}