.website-header {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  font-family: "Jost";
}
.top-bar {
  background: #e71c31;
}
.top-bar nav {
  width: 80%;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar nav ul li {
  display: inline-block;
  margin-right: 1rem;
}
.top-bar nav ul li a {
  color: #fff;
  padding: 0.2rem 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.top-bar nav ul li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255);
  transition: 0.3s ease;
}

/* MAINBAR */
.mainBarAnnex {
  width: 100%;
  height: 104px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.mainBarWrapAnnex {
  width: 100%;
  height: 100%;
}
.mainBarWrapAnnex .logoAnnex {
  color: #111;
}
.mainBarWrapAnnex .innerAnnex ul li a {
  color: #111 !important;
  display: inline-block;
}
 
.mainBarWrapAnnex .innerAnnex ul li a:hover {
  color: #f00;
}
.mainBarWrapAnnex .innerAnnex {
  width: 100%;
  height: 100%;
  /* padding: 0 7rem; */
}
.mainBarWrapAnnex .innerAnnex .inner-wrap-annex {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.mainBarWrapAnnex .innerAnnex ul li {
  display: inline-block;
  height: inherit;
  transition: .3s ease;
}
.mainBarWrapAnnex .innerAnnex ul li:not(:last-child) {
  border-right: 1px solid #111;
  transition: .3s ease;
}
.mainBarWrapAnnex:hover .innerAnnex ul li:not(:last-child) {
  border-right: 1px solid #111;
  transition: .3s ease;
}
.mainBarWrapAnnex .innerAnnex ul li a {
  display: inline-block;
  padding: 0 2.5rem;
  font-weight: 600;
  position: relative;

}

.mainBarWrapAnnex .innerAnnex ul li a::before {
  content: "";
  position: absolute;
  top: 58px;
  left: 0;
  height: 6px;
  width: 0%;
  background: #f00;
  transition: 0.3s ease;
}
.mainBarWrapAnnex .innerAnnex ul li a:hover::before {
  width: 100%;
}


/* MEGA-DROPDOWN */
.mainBarWrapAnnex .innerAnnex ul li .mega-dropdown-annex {
  position: absolute;
  top: 154px;
  left: -5%;
  width: 100%;
  height: 270px;
  padding: 1rem 0;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  border-top: 1px solid #eee;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.mainBarWrapAnnex .innerAnnex ul li:hover .mega-dropdown-annex {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.mainBarWrapAnnex .innerAnnex ul li .mega-dropdown-annex .mega-dropdown-wrap-annex {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.mega-dropdown-annex .mega-dropdown-wrap-annex a::before {
  display: none;
}
.mega-dropdown-annex .mega-dropdown-wrap-annex a::after {
  display: none;
}
.mega-dropdown-wrap-annex h2 {
  padding: 0;
  margin: 0;
  color: #111;
  font-size: 18px;
}
.mega-dropdown-wrap-annex h3 {
  padding: 0;
  margin: 0 0 1rem 0;
  color: #424242;
  color: #f00;
  font-size: 14px;
}
.mega-dropdown-annex .mega-dropdown-wrap-annex button {
  background: red;
  border: none;
  outline: none;
}

.mega-dropdown-wrap-annex button {
  margin: 2rem 0;
  padding: 0.8rem 0;
  font-size: 16px;
  background: red;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

 .mega-dropdown-wrap-annex button a {
  position: relative;
  color: #fff !important;
  display: inline-block;
  transition: 0.3s ease;
  z-index: 9999;
}

.mega-dropdown-wrap-annex button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  background: #111;
  z-index: 1;
  transition: 0.3s ease;
}
.mega-dropdown-wrap-annex button:hover::before {
  width: 101%;
}
.mega-dropdown-annex .mega-dropdown-wrap-annex span {
  padding: 1rem 1rem 1rem 0;
}
.mega-dropdown-annex .mega-dropdown-wrap-annex span:nth-child(3) {
  border-right: 1px solid #ddd;
}
.mega-dropdown-annex .mega-dropdown-wrap-annex span:nth-child(4) ul li {
  border-bottom: none;
}

.mainBarWrapAnnex:hover .innerAnnex ul li .mega-dropdown-wrap-annex span ul li {
  color: #000;
  border-right: none
}


.mega-dropdown-annex .mega-dropdown-wrap-annex span ul li a {
  font-size: 14px;
  text-align: left;
  padding: 0.5rem 0 0.5rem 0;
  /* color: #111 !important; */
  transition: .3s ease;
}

.mega-dropdown-wrap-annex span ul li a:hover {
  color: red !important;
  padding: 0.5rem 0 0.5rem .8rem;
}

.mega-dropdown-annex .mega-dropdown-wrap-annex span ul {
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mega-dropdown-annex .mega-dropdown-wrap-annex span ul li {
  border-bottom: 1px solid #eee;
  transition: .3s ease;
}
.mega-dropdown-annex .mega-dropdown-wrap-annex span ul li:hover {
  border-bottom: 1px solid red;
}

/* MENUBTN */
.menuBtn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  display: none;
}
.menuBtn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  width: 35px;
  height: 6px;
  transition: 1s ease;
}
.menuBtn span:nth-child(1) {
  top: 30%;
}
.menuBtn span:nth-child(3) {
  top: 70%;
}
.menuBtn:hover span:nth-child(1) {
  /* width: 30px; */
  transform: translate(-50%, -50%) rotate(360deg);
}
.menuBtn:hover span:nth-child(3) {
  /* width: 30px; */
  transform: translate(-50%, -50%) rotate(-360deg);
}

@media screen and (max-width: 768px) {
  .menuBtn {
    display: block;
  }
  .top-bar {
    display: none;
  }
  .mainBarAnnex {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  }
  .mainBarWrapAnnex .innerAnnex ul {
    display: none;
  }
  .mainBarAnnex .logoAnnex {
    color: #111;
  }
}
