.headeR {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  font-family: "Montserrat";
}

.headeR-top-bar {
  background: #e71c31;
  background: whitesmoke;
  background: #043e62;
}
.headeR-top-bar nav {
  width: 80%;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headeR-top-bar nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

.headeR-top-bar nav ul li a {
  color: #fff;
  padding: 0.2rem 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.headeR-top-bar nav ul li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255);
  transition: 0.3s ease;
}

/* MAINBAR */
.headeRBar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: white;
}
/* .headeR:hover {
    background: #fff;
    transition: 0.4s ease;
  } */
.headeRWrap {
  width: 100%;
  height: 100%;
}
.headeRWrap .headeRlogo {
  color: #111;
}
.mainBarWrap:hover .logo {
  color: #000;
  color: var(--text-color-brown);
}

.headeRWrap .headeR-inner {
  width: 100%;
  height: 100%;
}
.headeRWrap .headeR-inner .headeR-inner-wrap {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.headeRWrap .headeR-inner ul li {
  display: inline-block;
  height: inherit;
  transition: 0.3s ease;
}
.headeRWrap .headeR-inner ul li:not(:last-child) {
  border-right: 1px solid #424242;
  transition: 0.3s ease;
}

.headeRWrap .headeR-inner ul li a {
  color: #111;
  display: inline-block;
  padding: 0 2.5rem;
  font-weight: 600;
  position: relative;
}
.headeRWrap .headeR-inner ul li a::before {
  content: "";
  position: absolute;
  top:32px;
  left: 0;
  height: 8px;
  width: 0%;
  background: #f00;
  transition: 0.3s ease;
}
.headeRWrap .headeR-inner ul li a:hover::before {
  width: 100%;
}

/* MEGA-DROPDOWN */
.headeRWrap .headeR-inner ul li .headeR-mega-dropdown {
  position: absolute;
  top: 60px;
  left: 0%;
  width: 100%;
  height: 300px;
  padding: 0.5rem 0;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  border-top: 1px solid #eee;
  transition: 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.headeRWrap .headeR-inner ul li:hover .headeR-mega-dropdown {
  top: 60px;
  left: 0;
  visibility: visible;
  opacity: 1;
}
.headeRWrap
  .headeR-inner
  ul
  li
  .headeR-mega-dropdown
  .headeR-mega-dropdown-wrap {
  width: 80%;
  height: inherit;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap a::before {
  display: none;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap a::after {
  display: none;
}
.headeR-mega-dropdown-wrap h2 {
  padding: 0;
  margin: 0;
  color: #111;
  font-size: 18px;
}
.headeR-mega-dropdown-wrap h3 {
  padding: 0;
  margin: 0 0 1rem 0;
  color: #424242;
  color: #f00;
  font-size: 16px;
}
.headeR-mega-dropdown-wrap button {
  margin: 2rem 0;
  padding: 0.8rem;
  font-size: 16px;
  background: red;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.headeR-mega-dropdown-wrap button a {
  position: relative;
  z-index: 9999;
  color: #fff !important;
  transition: 0.3s ease;
}
.headeR-mega-dropdown-wrap button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  background: #111;
  z-index: 1;
  transition: 0.3s ease;
}
.headeR-mega-dropdown-wrap button:hover::before {
  width: 101%;
  height: 101%;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span {
  padding: 1rem 1rem 1rem 0;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span:nth-child(3) {
  /* border-right: 1px solid #ddd; */
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span:nth-child(4) ul li {
  border-bottom: none;
}
.headeRWrap:hover .headeR-inner ul li .headeR-mega-dropdown-wrap span ul li {
  color: #000;
  border-right: none;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span ul li a {
  font-size: 14px;
  text-align: left;
  padding: 0.5rem 0 0.5rem 0;
  /* color: #111 !important; */
  transition: 0.3s ease;
}
.headeR-mega-dropdown-wrap span ul li a:hover {
  color: red;
  padding: 0.5rem 0 0.5rem 1rem;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span:nth-child(4) span {
  margin: 0;
  padding: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span:nth-child(4) p {
  margin: 0.25rem 0;
  padding: 0;
  display: block;
  font-size: 18px;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span:nth-child(4) .icon {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span:nth-child(4) ul li small {
  font-size: 11px;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span:nth-child(4) ul li {
  border-bottom: none;
  padding: 0;
}
.ksi-branch {
  margin-bottom: 0.5rem;
}
.headeR-mega-dropdown
  .headeR-mega-dropdown-wrap
  span:nth-child(4)
  li
  .ksi-branch
  p,
.headeR-mega-dropdown
  .headeR-mega-dropdown-wrap
  span:nth-child(4)
  ul
  li
  .acc-branch
  p {
  font-size: 14px;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span:nth-child(4) ul li a {
  font-size: 14px;
  text-align: left;
  padding: 0 0 0.25rem 0;
}
.headeR-mega-dropdown
  .headeR-mega-dropdown-wrap
  span:nth-child(4)
  ul
  li
  a:hover {
  padding: 0.5rem 0 0.5rem 0;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span:nth-child(4) ul li:hover {
  border: none;
}

.headeR-mega-dropdown .headeR-mega-dropdown-wrap span ul {
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.headeR-mega-dropdown .headeR-mega-dropdown-wrap span ul li {
  border-bottom: 1px solid #ddd;
  transition: 0.3s ease;
}
.headeR-mainBarWrap:hover
  .headeR-inner
  ul
  li
  .headeR-mega-dropdown-wrap
  span
  ul
  li {
  color: #000;
  border-right: none;
  position: relative;
}
.headeR-mainBarWrap:hover
  .headeR-inner
  ul
  li
  .headeR-mega-dropdown-wrap
  span:nth-child(3)
  ul
  li::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -20px;
  width: 1px;
  height: 200px;
  background: #ddd;
}

.headeR-mega-dropdown .headeR-mega-dropdown-wrap span ul li:hover {
  border-bottom: 1px solid red;
}

@media screen and (max-width: 768px) {
  .headeR {
    display: none;
  }
  .headeRBar {
    display: none;
  }
}
